
@*<div>
    <br />
    <h2>User Data :</h2>
    <table class="table table-responsive-md table-hover mb-0" id="LeavesListTable">
        <tbody>
            <tr> <td style="width: 30%">User Name</td> <td style="width: 70%; text-align: right; color: #aaa;" id="RenderdUsername"></td> </tr>
            <tr> <td style="width: 30%">Email</td> <td style="width: 70%; text-align: right; color: #aaa;"id="RenderdEmail"></td> </tr>
            <tr> <td style="width: 30%">ID</td> <td style="width: 70%; text-align: right; color: #aaa;"id="RenderdID"></td> </tr>
        </tbody>
    </table>
    <br />
</div>*@