
@{
    ViewBag.Title = "index";
}


@{
    ViewBag.Title = "Manage Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.css" />
<link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.theme.css" />
<link rel="stylesheet" href="~/vendor/select2/css/select2.css" />
<link rel="stylesheet" href="~/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="~/vendor/dropzone/basic.css" />
<link rel="stylesheet" href="~/vendor/dropzone/dropzone.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css" />
<link rel="stylesheet" href="~/vendor/summernote/summernote-bs4.css" />
<link rel="stylesheet" href="~/vendor/codemirror/lib/codemirror.css" />
<link rel="stylesheet" href="~/vendor/codemirror/theme/monokai.css" />
<link href="~/CustomCSS/Request/ManageRequest.css" rel="stylesheet" />
<script src="~/vendor/modernizr/modernizr.js"></script>

<section role="main" class="content-body">
    <header class="page-header">
        <style>
            .DataLi {
                padding-bottom: 15px !important;
            }

            .TrStyle {
                border: none !important;
            }
        </style>
        <h2>Manage Request</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("index","home")">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><span>Request</span></li>
                <li><span>All Request</span></li>
            </ol>

            <div class="sidebar-right-toggle"><i class=""></i></div>
            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>*@
        </div>
    </header>

    <!-- start: page -->
    <div class="row">
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        @*<a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>*@
                    </div>
                    <h2 class="card-title">Leave Details</h2>
                </header>
                <div class="card-body">
                    <div class="form-group row ">
                        <a class="nav-link" href="#" onclick="GoBack()">
                            <i class="fas fa-undo-alt fa-2x" aria-hidden="true"></i>
                            <span>Cancel</span>
                        </a>
                    </div>

                    <h1 id="RequestID" class="text-center" style="font-size: 45px; color:goldenrod;"></h1>
                    <br />

                    <table class="table table-responsive-md table-striped table-hover mb-0">

                        <tbody>
                            <tr class="TrStyle">
                                <td><b>UserName</b></td>
                                <td id="UserName">-</td>
                                <td><b>Position</b></td>
                                <td id="PositionName">-</td>


                            </tr>
                            <tr class="TrStyle">
                                <td><b>Department</b></td>
                                <td id="DepartmentName">-</td>
                                <td><b>SubDepartment</b></td>
                                <td id="SubDepartmentName">-</td>
                            </tr>
                            <tr class="TrStyle">
                                <td><b>Leave Type</b></td>
                                <td id="LeaveTypeName">-</td>
                                <td><b>Duration</b></td>
                                <td id="RequestDuration">-</td>
                            </tr>
                            <tr class="TrStyle">
                                <td><b>From</b></td>
                                <td id="DurationFrom">-</td>
                                <td><b>To</b></td>
                                <td id="DurationTo">-</td>
                            </tr>
                            <tr class="TrStyle">
                                <td><b>Back to work date</b></td>
                                <td id="BackToWork">-</td>
                                <td><b>Creation Date</b></td>
                                <td id="CreationDate"></td>
                            </tr>
                            <tr class="TrStyle">
                                <td><b>Status</b></td>
                                <td id="Status">-</td>
                                <td><b>Comment</b></td>
                                <td id="Comment">-</td>
                            </tr>
                            <tr class="TrStyle">
                                <td><b>Substitute</b></td>
                                <td id="Substitute">-</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <div class="EntitlementTotalStyle mt-2 " >
                        <p class="alert alert-primary" >Remaining Entitlement : <span id="EntitlementTotal"></span></p>
                    </div>
                    <div class="form-group ">
                        <span id="RequestAttachment"> Attachment: </span>
                    </div>
                    <br />

                    @*<table class="table table-responsive-md table-striped table-hover mb-0">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Action</th>
                    <th>Action By</th>


                </tr>
            </thead>
            <tbody id="RequestDetails"></tbody>
        </table>*@

                    <div class="col-md-12">
                        <br />
                        <div class="row">
                            <div class="col-md-6 offset-md-3 timelinediv">
                                <h4>Request timeline</h4>
                                <ul id="RequestDetails" class="timeline">
                                    @*<li>
                            <a target="_blank" href="#">New Web Design</a>
                            <a href="#" class="float-right">21 March, 2014</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                        </li>
                        <li>
                            <a href="#">21 000 Job Seekers</a>
                            <a href="#" class="float-right">4 March, 2014</a>
                            <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
                        </li>
                        <li>
                            <a href="#">Awesome Employers</a>
                            <a href="#" class="float-right">1 April, 2014</a>
                            <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
                        </li>
                        <li>
                            <a href="#">Awesome Employers</a>
                            <a href="#" class="float-right">1 April, 2014</a>
                            <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
                        </li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row pull-left" id="ApprovalRejectionBtns" style="visibility:hidden;">
                        <a class="nav-link" onclick="ApproveBTN()" href="#">
                            <i class="fas fa-check fa-2x" aria-hidden="true"></i>
                            <span>Approve</span>
                        </a>
                        <a class="nav-link" data-toggle="modal" data-target="#RejectionReasonModal" href="#">
                            <i class="fas fa-times fa-2x" aria-hidden="true"></i>
                            <span>Reject</span>
                        </a>

                    </div>
                  
                </div>

            </section>
        </div>
    </div>


    <!-- end: page -->
    <div class="modal fade" id="RejectionReasonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div>
                    <h5 class="modal-title" id="exampleModalLabel">Rejection Reason</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="usr">Please Enter Rejection Reason :</label>
                        <input type="text" class="form-control" id="RejectionReason">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="RejectBTN()">Reject</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/vendor/jquery-ui/jquery-ui.js"></script>
<script src="~/vendor/jqueryui-touch-punch/jqueryui-touch-punch.js"></script>
<script src="~/vendor/select2/js/select2.js"></script>
<script src="~/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="~/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
<script src="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script src="~/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/vendor/bootstrap-timepicker/bootstrap-timepicker.js"></script>
<script src="~/vendor/fuelux/js/spinner.js"></script>
<script src="~/vendor/dropzone/dropzone.js"></script>
<script src="~/vendor/bootstrap-markdown/js/markdown.js"></script>
<script src="~/vendor/bootstrap-markdown/js/to-markdown.js"></script>
<script src="~/vendor/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<script src="~/vendor/codemirror/lib/codemirror.js"></script>
<script src="~/vendor/codemirror/addon/selection/active-line.js"></script>
<script src="~/vendor/codemirror/addon/edit/matchbrackets.js"></script>
<script src="~/vendor/codemirror/mode/javascript/javascript.js"></script>
<script src="~/vendor/codemirror/mode/xml/xml.js"></script>
<script src="~/vendor/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="~/vendor/codemirror/mode/css/css.js"></script>
<script src="~/vendor/summernote/summernote-bs4.js"></script>
<script src="~/vendor/bootstrap-maxlength/bootstrap-maxlength.js"></script>
<script src="~/vendor/ios7-switch/ios7-switch.js"></script>
<script src="~/js/theme.js"></script>

<!-- Theme Custom -->
<script src="~/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="~/js/theme.init.js"></script>

<!-- Examples -->
<script src="~/js/examples/examples.advanced.form.js"></script>
<script src="~/js/examples/examples.modals.js"></script>
<script src="~/CustomJavaScript/HelpersJS/Helpers.js"></script>
<script src="~/CustomJavaScript/Request/ManageRequest.js"></script>
<style>
    .ruleFieldset {
        padding: 0 15px 10px !important;
        margin-bottom: 45px !important;
    }

    .Borderstyle {
        border: 1px solid #ccc !important;
        padding: 3px 5px 15px 15px !important;
    }

    fieldset legend {
        display: block !important;
        font-weight: normal !important;
        font-size: 14px !important;
        margin-bottom: 15px !important;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0px;
        font-family: 'Noto Sans', verdana, arial, sans-serif;
        width: auto !important;
    }

    .Floatleft {
        float: left !important
    }

    .label {
        font-weight: bold;
        display: inline-block;
        margin-left: 140px;
    }
    .EntitlementTotalStyle p
    {
        font-weight:bold;
        font-size:large;
    }
    .EntitlementTotalStyle span
    {
        color:goldenrod;
        font-weight:bold;
        font-size:x-large;
    }
</style>