<div class="ct-animation-chart" style="height:200px"></div>

<script src="~/js/lib/chartist/chartist.min.js"></script>
<script src="~/js/lib/chartist/chartist-plugin-tooltip.min.js"></script>
<script src="~/js/lib/chartist/chartist-init.js"></script>

