<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PhNetworkEntities" connectionString="metadata=res://*/CallCenterReportingSystem.csdl|res://*/CallCenterReportingSystem.ssdl|res://*/CallCenterReportingSystem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.1.29\MobSystems;initial catalog=PhNetwork;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>