
@{
    ViewBag.Title = "MyDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/css/google-fonts-api.css">

<!-- Vendor CSS -->
<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="~/vendor/animate/animate.css">

<link rel="stylesheet" href="~/vendor/font-awesome/css/fontawesome-all.min.css" />
<link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

<!-- Specific Page Vendor CSS -->
<link rel="stylesheet" href="~/vendor/select2/css/select2.css" />
<link rel="stylesheet" href="~/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
<link rel="stylesheet" href="~/vendor/datatables/media/css/dataTables.bootstrap4.css" />

<!-- Theme CSS -->
<link rel="stylesheet" href="~/css/theme.css" />

<!-- Skin CSS -->
<link rel="stylesheet" href="~/css/skins/default.css" />
<link href="~/CustomCSS/User/MyDepartment.css" rel="stylesheet" />
<!-- Theme Custom CSS -->
<link rel="stylesheet" href="~/css/custom.css">

<!-- Head Libs -->
<script src="~/vendor/modernizr/modernizr.js"></script>

<section role="main" class="content-body">
    <header class="page-header">

        <h2>My Department</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>

                    <a href="#">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li><span>User</span></li>
                <li><span>My Department</span></li>
            </ol>
            <div class="sidebar-right-toggle"><i class=""></i></div>
            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>*@
        </div>
    </header>
    @*<img src="~/img/!logged-user.jpg" alt="Alternate Text" />*@
    <!-- start: page -->
    <div id="UsersCards">
        @*<div class="col-md-2 col-md-3 mb-1 mb-md-0 UserCard">
                <section class="card">
                    <div class="card-body">
                        <div class="thumb-info mb-3 thumbnail ThumbnailImgContainer">
                            <img src="~/img/user.jpg" class="rounded img-fluid UserImageThumbnail" alt="User Picture">
                            <input type="file" id="imgupload" class="Cimgupload" style="display:none" />
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">Mohamed Minaisy</span>
                                <span class="thumb-info-type">Junior</span>
                            </div>
                        </div>
                        <ul class="simple-todo-list mt-3">
                            <li><span class="text-color-primary">Software Development</span></li>
                        </ul>
                    </div>
                </section>
            </div>*@
    </div>
    <!-- End: page -->

</section>
<script src="~/js/examples/examples.widgets.js"></script>

<script src="~/vendor/jquery-ui/jquery-ui.js"></script>
<script src="~/vendor/jqueryui-touch-punch/jqueryui-touch-punch.js"></script>
<script src="~/vendor/select2/js/select2.js"></script>
<script src="~/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="~/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
<script src="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script src="~/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/vendor/bootstrap-timepicker/bootstrap-timepicker.js"></script>
<script src="~/vendor/fuelux/js/spinner.js"></script>
<script src="~/vendor/dropzone/dropzone.js"></script>
<script src="~/vendor/bootstrap-markdown/js/markdown.js"></script>
<script src="~/vendor/bootstrap-markdown/js/to-markdown.js"></script>
<script src="~/vendor/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<script src="~/vendor/codemirror/lib/codemirror.js"></script>
<script src="~/vendor/codemirror/addon/selection/active-line.js"></script>
<script src="~/vendor/codemirror/addon/edit/matchbrackets.js"></script>
<script src="~/vendor/codemirror/mode/javascript/javascript.js"></script>
<script src="~/vendor/codemirror/mode/xml/xml.js"></script>
<script src="~/vendor/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="~/vendor/codemirror/mode/css/css.js"></script>
<script src="~/vendor/summernote/summernote-bs4.js"></script>
<script src="~/vendor/bootstrap-maxlength/bootstrap-maxlength.js"></script>
<script src="~/vendor/ios7-switch/ios7-switch.js"></script>
<script src="~/CustomJavaScript/HelpersJS/Helpers.js"></script>
<script src="~/CustomJavaScript/User/MyDepartment.js"></script>
<script src="~/js/theme.js"></script>

<!-- Theme Custom -->
<script src="~/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="~/js/theme.init.js"></script>

<!-- Examples -->
<script src="~/js/examples/examples.advanced.form.js"></script>
<script src="~/js/examples/examples.modals.js"></script>
