@model Stock_System2.Models.User

@{
    Layout = null;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="script.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.7.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"
      rel="stylesheet" type="text/css" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Edit</title>
</head>

<body class="modal fade" id="M2" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="alert alert-danger alert-dismissable" id="div_Error2" style="display:none; text-align:center">

    </div>

    <div class="alert alert-success alert-dismissable" id="div_Success" style="display:none">
        User Data is Deleted  Successfully
    </div>
    <table id="tableEdit" class="table table-bordered" style="font-weight:bold; font-family:Arial;">
        <caption style="color:black; text-align:center; height:100px; margin-top:50px;">
            Are you want to delete This User ?
        </caption>
       
        <tr style="text-align:center">
            <td>
                <button type="button" class="btn btn-danger" id="submit3">
                    <span class="badge">5</span>
                    Delete User
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-default" id="ll" onclick="window.location.reload();">
                    Close
                </button>
            </td>
        </tr>
    </table>

</body>
</html>
<script type="text/javascript">

    $('#submit3').on('click', function () {

        var UserData =
            {
               
            };
               var orderx = JSON.stringify(UserData);
               $.ajax({
                   url: '@Url.Action("Delete","User")',
                   type: 'POST',
                   dataType: "json",
                   contentType: 'application/json; charset=utf-8',
                   data: orderx,
                   success: function (message) {
                       if (message == "success") {
                           $('#div_Success').show();
                           $('#div_Error2').hide();
                           @*window.location = '@Url.Action("Dash", "Admin2")'*@

                       }
                       else {
                           $("#div_Error2").show();
                           //$("#div_Error2").append("a7a");
                           $("#div_Error2").text("Updating User Data is Faild");
                           $('#div_Success').hide();

                       }

                   }

               });
           

        });


</script>
