@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>TPA Filteration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">



    <!-- Bootstrap core CSS -->
    <link href="/Theme/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/Theme/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/Theme/assets/css/style.css" rel="stylesheet">
    <link href="/Theme/assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    
</head>

<body style="background-image:url('/Theme/assets/img/sss.jpg');background-repeat:no-repeat;background-size:cover">


    @*<img src="~/Theme/assets/img/street-2262223_1920.jpg" />*@
    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->

    <div id="login-page">
        <div class="container">

            <form class="form-login" action="/Login/Login" method="post">
                <h2 class="form-login-heading">sign in now</h2>
                <div class="login-wrap">
                    <input type="text" class="form-control" placeholder="User Name" name="UserName" autofocus required="required">
                    <br>
                    <input type="password" class="form-control" placeholder="Password" name="Password" required="required">

                    <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
                    <hr>



                </div>
                <span style="color:#154db1;font-size:large;font-style:italic">@ViewBag.error</span>
            </form>

        </div>
        <!-- modal -->



    </div>


    <!-- js placed at the end of the document so the pages load faster -->
    @*<script src="assets/js/jquery.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>*@
    <script src="~/Theme/assets/js/jquery.js"></script>
    <script src="~/Theme/assets/js/bootstrap.min.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    @*<script type="text/javascript" src="assets/js/jquery.backstretch.min.js"></script>*@
    <script type="text/javascript" src="~/Theme/assets/js/jquery.backstretch.min.js"></script>
    @*<script>*@

        @*$.backstretch("assets/img/login-bg.jpg", { speed: 500 });
        $.backstretch("Theme/assets/img/login-bg.jpg", { speed: 500 });*@
    @*</script>*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
       
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };

    </script>




</body>

</html>
