<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="PhNetworkConnectionString" value="Data Source=MOBILE-SYSTEM\MSSQLNEW;Initial Catalog=PhNetwork;integrated security=false;User Id=sa;password=P@ssw0rd;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="PhNetworkEntities" connectionString="metadata=res://*/Models.PhNetwork.csdl|res://*/Models.PhNetwork.ssdl|res://*/Models.PhNetwork.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MOBILE-SYSTEM\MSSQLNEW;initial catalog=PhNetwork;integrated security=false;User Id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>