

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
    <title>@ViewBag.Title  Call Center System reports</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->



    <link href="~/css/helper.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
        <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- All Jquery -->
    <script src="~/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="~/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <!-- Amchart -->
    <script src="~/js/lib/morris-chart/raphael-min.js"></script>
    <script src="~/js/lib/morris-chart/morris.js"></script>
    <script src="~/js/lib/morris-chart/dashboard1-init.js"></script>

    <script src="~/js/scripts.js"></script>
    <!-- scripit init-->

    <script src="~/js/custom.min.js"></script>



</head>

<body class="fix-header fix-sidebar" onload="startTime()">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
      
        <div class="">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-3 align-self-center">
                    <h3 class="text-primary">Dashboard</h3>
                </div>
                <div  class="col-md-6 align-self-center text-center">
                    <h6>
                        <b>CallCenter Reporting System</b> - <b>Developed By Software Development Team</b>
                    </h6>
                </div>
                <div class="col-md-3 align-self-center">
                    <ol class="breadcrumb">
                       @* <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>*@
                        <li class="breadcrumb-item active text-primary" id="TimeNow">@DateTime.Now</li>
                    
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                
                @RenderBody()
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            
            <!-- End footer -->
        </div>
        

        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
</body>

</html>
<script>
    //var Counter = 0;
    //$(document).ready(function () {

    //    setInterval('LoopPages()', 3000);

    //});

    //function LoopPages() {
    //    debugger;
        
    //    if (Counter == 0) {
    //        var url = window.location.host + "/SecondDashboard/index";
    //        Counter++;
    //        $(location).attr('href', url);
           
    //    }
    //    else {
    //        var url = window.location.host + "/home/index";
    //        Counter--;  
    //        $(location).attr('href', url);
            
    //    }

    //}


    function startTime() {
        var today = new Date();
        var Day = today.getDate();
        var Month = (today.getMonth())+1;
        var Year = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        Day = checkTime(Day);
        Month = checkTime(Month);


        document.getElementById('TimeNow').innerHTML = Day + "/" + Month + "/" + Year + "  " +
            h + ":" + m + ":" + s ;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
        return i;
    }


</script>