
@{
    ViewBag.Title = "ViewBatchingRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/CustomCss/CustomCSS.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-5 Mcenter">
            <h4 class="text-center marginBottom">Batching Request</h4>
            <form class="form">
                <div class="formOverlay">
                    <i class="btn btn-primary fa fa-lock "></i>
                </div>
                <!--*****************************************************************-->
                <div class="form-group row">
                    <div class="col-md-5">
                        <label for="BatchClaimsCount">Number Of Claims <span class="red">*</span></label>
                    </div>
                    <div class="col-md-7">
                        <input type="number" class="form-control" id="BatchClaimsCount" placeholder="Number Of Claims" />
                    </div>
                </div>
                <!--*****************************************************************-->
                <div class="form-group row">
                    <div class="col-md-5">
                        <label for="SystemName">System Name<span class="red"> *</span> </label>
                    </div>
                    <div class="col-md-7">
                        @Html.DropDownList("InsuranceSystem", null, "Select System Name", htmlAttributes: new { @class = "form-control", @id = "SystemNameFk" })
                    </div>
                </div>
                <!--*****************************************************************-->
                <div class="form-group row">
                    <div class="col-md-5">
                        <label for="BatchIdOnSystem">Batch Id <span class="red">*</span> </label>
                    </div>
                    <div class="col-md-7">
                        <input type="number" class="form-control" id="BatchIdOnSystem" placeholder="Batch Id On System" />
                    </div>
                </div>
                <!--*****************************************************************-->
                <div class="form-group row">
                    <div class="col-md-5">
                        <label for="BatchingComment">Comment</label>
                    </div>
                    <div class="col-md-7">
                        <textarea name="Comment" class="form-control" id="BatchingComment" placeholder="Comment" rows="2"></textarea>
                    </div>
                </div>
                <!--*****************************************************************-->
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-7">
                        <button type="button" class="btn btn-primary form-control text-5 " style="display:none;" id="btnTransferBatchToAudit">Transfer</button>
                    </div>
                </div>
                <!--*****************************************************************-->
            </form>
            <div class="col-md-12">
                <button type="button" class="btn btn-primary form-control text-5 " id="btnLock" style="display:none;">Lock</button>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-primary form-control text-5 " id="btnUnLock" style="display:none;">UnLock</button>
            </div>
        </div>


    </div>
</div>

<script src="~/CustomJavaScript/BatchingJS/ViewBatchingRequest.js"></script>