@model DispatchingMVCVer1.Models.User

@{
    ViewBag.Title = "ChangePassword";
    HtmlHelper.ClientValidationEnabled = true;

}
<script src="~/Scripts/jquery 1.7 min.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
@*<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
@section HeaderSection
     {
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#">Change Passwrod</a></li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
}


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <div class="alert alert-danger alert-dismissable" id="div_Error" style="display:none">
                    Please Insert the Correct Full Data of Client Notes
                </div>
                <div class="alert alert-danger alert-dismissable" id="div_Error2" style="display:none">
                    The 2 fields doesn't match
                </div>
                <div class="alert alert-success alert-dismissable" id="div_Success" style="display:none">
                    Password Changed Successfully
                </div>
                <header class="panel-heading"> Select User Data </header>
                <div class="panel-body">
                    <span style="color:#154db1;font-size:large;font-style:italic;margin-left:250px">Password must be less than 15 characters</span>
                    <br />
                    <br />
                    <form class="form-horizontal tasi-form" role="form">

                        @Html.HiddenFor(model => model.UserID, new { @id = "ID" })

                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">New Password</label>
                            <div class="col-sm-4">
                                <input type="password" maxlength="15" class="form-control input-lg m-b-10" placeholder="New Password" id="p1" />
                            </div>
                            <div class="col-sm-3">
                                <span id="PasswordField1" style="color:#154db1;font-size:large;font-style:italic;display:none">Please Insert This Field</span>
                                <span id="PasswordMinLengthValidator" style="color:#154db1;font-size:large;font-style:italic;display:none">Password must be more than 4 characters</span>
                                <span id="PasswordMaxLengthValidator" style="color:#154db1;font-size:large;font-style:italic;display:none">Password must be less than 15 characters</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Confirm Password</label>
                            <div class="col-sm-4">
                                <input type="password" maxlength="15" class="form-control input-lg m-b-10" placeholder="Confirm Password" id="p2" />
                            </div>
                            <div class="col-sm-3">
                                <span id="PasswordField2" style="color:#154db1;font-size:large;font-style:italic;display:none">Please Insert This Field</span>
                                
                            </div>
                        </div>

                        <div class="col-md-12" style="text-align:center;">
                            <div class="toolbar-btn-action">
                                <button type="button" class="btn btn-primary" id="btn_Submit">Submit New Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>
@*the 2 firlds password "p1" and confirm password "p2" are required 
the minimum length of the password is 4 and maximum is 15 
if the validations are right .. send the new pasword to the action
empty the fields after sending the password 
error div appears if somthing went wrong    *@ 
<script>
    $(document).ready(function () {
        $('#btn_Submit').on('click', function () {
            debugger;
            var length = $("#p1").length;
            var val = $("#p1").val() ;
            if ($("#p1").val() == "") {
                $("#PasswordField1").show();
            }
            else if ($("#p2").val() == "") {
                $("#PasswordField2").show();
            }
            else {
                var $UserPasswordID = $("#p1").val();
                var $ConfirmPasswordID = $("#p2").val();
                if ($UserPasswordID == $ConfirmPasswordID) {
                    var UserData =
                        {
                            ID: $("#ID").val(),
                            Password: $UserPasswordID
                        };
                    var orderx = JSON.stringify(UserData);
                    $.ajax({
                        url: "/User/UpdatePassword",
                        type: 'POST',
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        data: orderx,
                        success: function (message, status) {
                            if (message == "Password Changed") {
                                $('#div_Success').show();
                                $('#div_Error').hide();
                            }
                            else {
                                $('#div_Error').show();
                                $('#div_Success').hide();
                            }
                        }
                    });
                }
                else {
                    $('#div_Error2').show();
                }
            }
            $("#p1").val("") ;
            $("#p2").val("") ;
        });
    });
</script>