
@{
    ViewBag.Title = "AddApprovalFlow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.css" />
<link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.theme.css" />
<link rel="stylesheet" href="~/vendor/select2/css/select2.css" />
<link rel="stylesheet" href="~/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="~/vendor/dropzone/basic.css" />
<link rel="stylesheet" href="~/vendor/dropzone/dropzone.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css" />
<link rel="stylesheet" href="~/vendor/summernote/summernote-bs4.css" />
<link rel="stylesheet" href="~/vendor/codemirror/lib/codemirror.css" />
<link rel="stylesheet" href="~/vendor/codemirror/theme/monokai.css" />
<link href="~/css/loggedRequired.CSS" rel="stylesheet" />
<script src="~/vendor/modernizr/modernizr.js"></script>
<section role="main" class="content-body">
    <header class="page-header">

        <h2>Configuration</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("index", "Configuration")">
                        <i class="fas fa-cogs"></i>
                    </a>
                </li>
                <li><span>Configuration</span></li>
                <li><span>Approval flow</span></li>
                <li><span>Add Approval flow</span></li>

            </ol>

            <div class="sidebar-right-toggle"><i class=""></i></div>
            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>*@
        </div>
    </header>

    <!-- start: page -->
    <div class="row">
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>
                    <h2 class="card-title">Add Approval flows</h2>
                </header>
                <div class="card-body">
                    <div class="form-group row">
                        <a class="nav-link" href="#" onclick="SubmitApprovalFlow()">
                            <i class="fas fa-save fa-2x" aria-hidden="true"></i>
                            <span>Save</span>
                        </a>
                        <a class="nav-link" href="#" onclick="GoBack()">
                            <i class="fas fa-undo fa-2x" aria-hidden="true"></i>
                            <span>Cancel</span>
                        </a>
                    </div>

                    <div class="row" style="margin-left:2%">
                        <section>

                            <div id="mainWindow" class="animated" data-menu-id="menuConfiguration">

                                <input type="submit" style="position: absolute; left: -9999px;">
                                <fieldset class="formGroup">
                                    <div class="onerow">
                                        <div class="col6 last">
                                            <label for="absenceAcceptanceName">Approval flow name</label>
                                            <input id="Approvalflowname" name="name" type="text" autocomplete="off">
                                        </div>
                                    </div>
                                </fieldset>
                                <div id="ApprovalRoles">
                                    <div class="onerow" id="">
                                        @*<div class="col6 last">
                                                <fieldset id="alternativeFlowsContainer" class="formGroup">
                                                    <fieldset class="ruleFieldset">
                                                        <legend class="alternativeLegend" id="CheckAlter">
                                                            <span class="title">Alltarnative Flow for Type</span>
                                                            <span class="caseConfigContainer"></span>
                                                            <select  data-plugin-selectTwo class="form-control populate" id="SelectApprovalUser" onchange="AddApprovalStep('kjdhkjd', this)">
                                                                <option selected disabled></option>
                                                            </select>
                                                        </legend>
                                                        <div class="onerow flowDetails_autoAcceptation" style="display: block;">
                                                            <div class="col12">
                                                                <span class=" fa fa-check-circle fa-2x"></span> Automatic immediate approval.
                                                                <br><br>
                                                                Add approvers to steps to make flow non-automatic.
                                                            </div>
                                                        </div>
                                                        <fieldset class="formGroup">
                                                            <div class="onerow" id="ApprovalStep">
                                                                <div class="col12">
                                                                    <div class="flowPresentationContainer">
                                                                        <div class="FlowPresentation hiddenStatusColumn">
                                                                            <div class="FlowPresentation_Step">
                                                                                <div class="FlowPresentation_State"></div>
                                                                                <div class="FlowPresentation_Indicator"></div>
                                                                                <div class="FlowPresentation_Desc">
                                                                                    <div class="row">
                                                                                        <div class="col-md-10">
                                                                                            <select multiple data-plugin-selectTwo class="form-control populate" id="SelectApprovalUser" onchange="AddApprovalStep('kjdhkjd', this)">
                                                                                                <option value="CT">Direct Manager</option>
                                                                                                <option value="DE">Team Leader</option>
                                                                                            </select>
                                                                                        </div>
                                                                                        <div class="col-md-2 pull-right">
                                                                                            <a class="nav-link" href="#">
                                                                                                <i class="fas fa-trash" aria-hidden="true"></i>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="FlowPresentation_NextArrow"></div>
                                                                                <div class="FlowPresentation_Number">1</div>
                                                                                <div class="FlowPresentation_Clear">&nbsp;</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </fieldset>
                                                </fieldset>
                                            </div>*@
                                    </div>
                                </div>
                            </div>

                            <fieldset class="formGroup col6">
                                <div id="addAlternativeFlowsInfo" class="noDataPanel">
                                    This acceptance flow works the same way for all types of requests. You can configure different flows for:<ul><li>specific absence types</li><li>manual timesheet changes</li></ul>For example: you can configure "Sick leave" to be auto approved but leave other types for approval by the manager.
                                </div>
                                <div class="onerow">
                                    <button class="withIcon iconAdd ghostButton" type="button" id="AddAltFlowButton">
                                        Add alternative flow
                                    </button>
                                </div>
                            </fieldset>
                            <div name="employeeIds"></div>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


<!-- end: page -->
@*<script src="~/vendor/jquery-ui/jquery-ui.js"></script>*@
@*<script src="~/vendor/jqueryui-touch-punch/jqueryui-touch-punch.js"></script>*@
<script src="~/vendor/select2/js/select2.js"></script>
<script src="~/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="~/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
<script src="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script src="~/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/vendor/bootstrap-timepicker/bootstrap-timepicker.js"></script>
<script src="~/vendor/fuelux/js/spinner.js"></script>
<script src="~/vendor/dropzone/dropzone.js"></script>
<script src="~/vendor/bootstrap-markdown/js/markdown.js"></script>
<script src="~/vendor/bootstrap-markdown/js/to-markdown.js"></script>
<script src="~/vendor/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<script src="~/vendor/codemirror/lib/codemirror.js"></script>
<script src="~/vendor/codemirror/addon/selection/active-line.js"></script>
<script src="~/vendor/codemirror/addon/edit/matchbrackets.js"></script>
<script src="~/vendor/codemirror/mode/javascript/javascript.js"></script>
<script src="~/vendor/codemirror/mode/xml/xml.js"></script>
<script src="~/vendor/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="~/vendor/codemirror/mode/css/css.js"></script>
<script src="~/vendor/summernote/summernote-bs4.js"></script>
<script src="~/vendor/bootstrap-maxlength/bootstrap-maxlength.js"></script>
<script src="~/vendor/ios7-switch/ios7-switch.js"></script>
@*<script src="~/CustomJavaScript/Position/Positions.js"></script>*@
<script src="~/CustomJavaScript/HelpersJS/Helpers.js"></script>
<script src="~/CustomJavaScript/ApprovalFlows/ApprovalFlows.js"></script>




<script src="~/js/theme.js"></script>

<!-- Theme Custom -->
<script src="~/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="~/js/theme.init.js"></script>

<!-- Examples -->
<script src="~/js/examples/examples.advanced.form.js"></script>
<script src="~/js/examples/examples.modals.js"></script>
<script>
    $(".clickable-row").click(function () {
        if ($(this).hasClass("AciveRow"))
            $(this).removeClass('AciveRow');
        else
            $(this).addClass('AciveRow').siblings().removeClass('AciveRow');
    })
</script>
<style>
    /*.ActionsIcon {
            margin-left: 10px
        }*/

    .AciveRow {
        background-color: #0088cc;
        color: white;
    }
    /*.AciveRow :hover {
            background-color: #0088cc;
            color: white;
        }*/

    .ruleFieldset {
        padding: 0 15px 10px !important;
        margin-bottom: 45px !important;
    }

    .Borderstyle {
        border: 1px solid #ccc !important;
        padding: 3px 5px 15px 15px !important;
    }

    fieldset legend {
        display: block !important;
        font-weight: normal !important;
        font-size: 14px !important;
        margin-bottom: 15px !important;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0px;
        font-family: 'Noto Sans', verdana, arial, sans-serif;
        width: auto !important;
    }

    .Floatleft {
        float: left !important
    }
</style>
