
@{
    ViewBag.Title = "Adjust Employees Entitlement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.css" />
<link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.theme.css" />
<link rel="stylesheet" href="~/vendor/select2/css/select2.css" />
<link rel="stylesheet" href="~/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="~/vendor/dropzone/basic.css" />
<link rel="stylesheet" href="~/vendor/dropzone/dropzone.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css" />
<link rel="stylesheet" href="~/vendor/summernote/summernote-bs4.css" />
<link rel="stylesheet" href="~/vendor/codemirror/lib/codemirror.css" />
<link rel="stylesheet" href="~/vendor/codemirror/theme/monokai.css" />
<script src="~/vendor/modernizr/modernizr.js"></script>
<section role="main" class="content-body">
    <header class="page-header">

        <h2>Configuration</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("index","Configuration")">
                        <i class="fas fa-cogs"></i>
                    </a>
                </li>
                <li><span>Configuration</span></li>
                <li><span>Employees</span></li>
                <li><span>Adjust Employees Entitlement</span></li>

            </ol>

            <div class="sidebar-right-toggle"><i class=""></i></div>
            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>*@
        </div>
    </header>

    <!-- start: page -->
    <div class="row">
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>
                    <h2 class="card-title">Employees</h2>
                </header>
                <div class="card-body">
                    <div class="form-group row">
                        <a class="nav-link" href="#">
                            <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
                            <span>Add</span>
                        </a>
                        <a class="nav-link" href="#">
                            <i class="fas fa-pencil-alt fa-2x" aria-hidden="true"></i>
                            <span>Edit</span>
                        </a>
                        <a class="nav-link" href="#">
                            <i class="fas fa-shekel-sign fa-2x" aria-hidden="true"></i>
                            <span>Adjust Entitlement</span>
                        </a>
                        <a class="nav-link" href="#">
                            <i class="fas fa-trash fa-2x" aria-hidden="true"></i>
                            <span>Archive</span>
                        </a>
                        <a class="nav-link" href="#">
                            <i class="fas fa-lock fa-2x" aria-hidden="true"></i>
                            <span>Reset Password</span>
                        </a>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <br />
                            <br />
                            <table class="table table-responsive-md table-hover mb-0" id="LeavesListTable">
                                <thead>
                                    <tr>
                                        <th><b>Employee Name</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="clickable-row">
                                        <td>Mohamed Abdelaleem</td>
                                    </tr>
                                    <tr class="clickable-row">
                                        <td>Mohamed AbdelSattar</td>
                                    </tr>
                                    <tr class="clickable-row">
                                        <td>Adel Amgad</td>
                                    </tr>
                                    <tr class="clickable-row">
                                        <td>Ahmed Ashraf</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-9">
                            <h3>Mohamed abdelaleem</h3>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="tabs">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item active">
                                                <a class="nav-link" href="#OverView" data-toggle="tab">Over View</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#Additional" data-toggle="tab">Additional</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#Entitlement" data-toggle="tab">Entitlement</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#Requests" data-toggle="tab">Requests</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#Entitlementchanges" data-toggle="tab">Entitlement changes</a>
                                            </li>

                                        </ul>
                                        <div class="tab-content">
                                            <div id="OverView" class="tab-pane active">
                                                <br />
                                                <table class="table table-responsive-md table-hover mb-0" id="LeavesListTable">
                                                    <tbody>
                                                        <tr> <td style="width: 25%;">Email</td> <td>a.ashraf@megulf.com.eg </td> </tr>
                                                        <tr> <td>Approval flow</td> <td>  Default: <ol>  </ol>  </td> </tr>
                                                        <tr> <td>Working week</td> <td>  Full-time - 40h: <ul> <li>Monday: 8h</li> <li>Tuesday: 8h</li> <li>Wednesday: 8h</li> <li>Thursday: 8h</li> <li>Friday: 0h</li> <li>Saturday: 0h</li> <li>Sunday: 8h</li> </ul>  </td> </tr>
                                                        <tr> <td>Teams</td> <td>   IT Support  </td> </tr>
                                                        <tr> <td>Position</td> <td> Junior </td> </tr>
                                                        <tr> <td>Holidays calendar</td> <td> Default </td> </tr>
                                                        <tr> <td>Contract type</td> <td> - </td> </tr>
                                                        <tr> <td>User role</td> <td> Regular employee </td> </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="Additional" class="tab-pane">
                                                <table class="table table-responsive-md table-hover mb-0" id="LeavesListTable">
                                                    <tbody>
                                                        <tr> <td style="width: 25%;">Gender</td> <td> - </td> </tr>
                                                        <tr> <td style="width: 25%;">Position</td> <td> Junior </td> </tr>
                                                        <tr> <td>Direct manager</td> <td>  Mohamed Essamt  </td> </tr>
                                                        <tr> <td>Birth date</td> <td> - </td> </tr>
                                                    </tbody>
                                                </table>
                                                <h5>Experience</h5>
                                                <table class="table table-responsive-md table-hover mb-0" id="LeavesListTable">
                                                    <tbody>
                                                        <tr> <td style="width: 25%;">Hire date</td> <td> 30/08/2018 </td> </tr>
                                                        <tr> <td style="width: 25%;">Probation end</td> <td> - </td> </tr>
                                                        <tr> <td style="width: 25%;">Termination date</td> <td> - </td> </tr>
                                                        <tr> <td style="width: 25%;">Seniority before hire</td> <td> - </td> </tr>
                                                    </tbody>
                                                </table>
                                                <h5>Family</h5>
                                                <table class="table table-responsive-md table-hover mb-0" id="LeavesListTable">
                                                    <tbody>
                                                        <tr> <td style="width: 25%;">Marital status</td> <td> - </td> </tr>
                                                        <tr> <td style="width: 25%;">Number of children</td> <td> - </td> </tr>
                                                        <tr> <td style="width: 25%;">The youngest child birth date</td> <td> - </td> </tr>
                                                    </tbody>
                                                </table>
                                                <h5>Contact</h5>
                                                <table class="table table-responsive-md table-hover mb-0" id="LeavesListTable">
                                                    <tbody>
                                                        <tr> <td style="width: 25%;">Business phone</td> <td>  </td> </tr>
                                                        <tr> <td style="width: 25%;">Home phone</td> <td>  </td> </tr>
                                                        <tr> <td style="width: 25%;">Personal email</td> <td>  </td> </tr>
                                                    </tbody>
                                                </table>
                                                <h5>Address</h5>
                                                <table class="table table-responsive-md table-hover mb-0" id="LeavesListTable">
                                                    <tbody>
                                                        <tr> <td style="width: 25%;">Street</td> <td>  </td> </tr>
                                                        <tr> <td style="width: 25%;">Building / flat number</td> <td>  </td> </tr>
                                                        <tr> <td style="width: 25%;">City</td> <td>  </td> </tr>
                                                        <tr> <td style="width: 25%;">Province / State</td> <td>  </td> </tr>
                                                        <tr> <td style="width: 25%;">Postal code</td> <td>  </td> </tr>
                                                        <tr> <td style="width: 25%;">Country</td> <td>  </td> </tr>
                                                    </tbody>
                                                </table>
                                                <h5>Custom fields</h5>
                                                <table class="table table-responsive-md table-hover mb-0" id="LeavesListTable">
                                                    <tbody>
                                                        <tr> <td style="width: 25%;">Employee number</td> <td> - </td> </tr>
                                                        <tr> <td style="width: 25%;">Custom note</td> <td> - </td> </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="Entitlement" class="tab-pane">
                                                <div class="form-group row">
                                                    <div class="col-lg-6">
                                                        <label class="col-lg-10 control-label text-lg-right pt-2">Min Leave duration within one day</label>
                                                        <select data-plugin-selectTwo class="form-control populate">
                                                            <option value="Whole day">Whole day</option>
                                                            <option value="1/2 day">1/2 day</option>
                                                            <option value="1/4 day">1/4 day</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="Requests" class="tab-pane">
                                                <div class="form-group row">
                                                    <div class="col-lg-2">
                                                        <label class="col-lg-10 control-label ">From</label>
                                                        <select data-plugin-selectTwo class="form-control populate">
                                                            <option value="2017">2017</option>
                                                            <option value="2018">2018</option>
                                                            <option value="2019">2019</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <label class="col-lg-10 control-label ">To</label>
                                                        <select data-plugin-selectTwo class="form-control populate">
                                                            <option value="2019">2019</option>
                                                            <option value="2018">2018</option>
                                                            <option value="2017">2017</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label class="col-lg-10 control-label ">Status</label>
                                                        <select data-plugin-selectTwo class="form-control populate">
                                                            <option value="ACCEPTED">Approved</option>
                                                            <option value="PENDING">Pending</option>
                                                            <option value="PENDING_CANCELLATION">Pending for cancellation</option>
                                                            <option value="REJECTED">Rejected</option>
                                                            <option value="REVOKED">Revoked</option>
                                                            <option value="CANCELED">Cancelled</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label class="col-lg-10 control-label ">Absence Type</label>
                                                        <select data-plugin-selectTwo class="form-control populate">
                                                            <option value="2">Annual leave</option>
                                                            <option value="3">Remote work</option>
                                                            <option value="1">Sick leave</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <table class="table table-responsive-md table-hover mb-0" id="LeavesListTable">
                                                        <thead>
                                                            <tr>
                                                                <td>
                                                                    <b>
                                                                        Absence Type
                                                                    </b>
                                                                </td>
                                                                <td>
                                                                    <b>
                                                                        Absence period
                                                                    </b>
                                                                </td>
                                                                <td>
                                                                    <b>
                                                                        Requested
                                                                    </b>
                                                                </td>
                                                                <td>
                                                                    <b>
                                                                        Status
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <br />
                                                            <br />
                                                            <br />
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div id="Entitlementchanges" class="tab-pane">
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
                                                        <label class="col-lg-10 control-label ">From</label>
                                                        <select data-plugin-selectTwo class="form-control populate">
                                                            <option value="2017">2017</option>
                                                            <option value="2018">2018</option>
                                                            <option value="2019">2019</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label class="col-lg-10 control-label ">To</label>
                                                        <select data-plugin-selectTwo class="form-control populate">
                                                            <option value="2019">2019</option>
                                                            <option value="2018">2018</option>
                                                            <option value="2017">2017</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <label class="col-lg-10 control-label ">Absence Type</label>
                                                        <select data-plugin-selectTwo class="form-control populate">
                                                            <option value="2">Annual leave</option>
                                                            <option value="3">Remote work</option>
                                                            <option value="1">Sick leave</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <table class="table table-responsive-md table-hover mb-0" id="LeavesListTable">
                                                        <thead>
                                                            <tr>
                                                                <td>
                                                                    <b>
                                                                        Reason
                                                                    </b>
                                                                </td>
                                                                <td>
                                                                    <b>
                                                                        Changer
                                                                    </b>
                                                                </td>
                                                                <td>
                                                                    <b>
                                                                        Amount
                                                                    </b>
                                                                </td>
                                                                <td>
                                                                    <b>
                                                                        Unit
                                                                    </b>
                                                                </td>
                                                                <td>
                                                                    <b>
                                                                        Year
                                                                    </b>
                                                                </td>
                                                                <td>
                                                                    <b>
                                                                        Date
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr style="width: 100%; height: 50px;;text-align:left;font-weight: normal;"> <td colspan="8" style="background-color:#ffffff"><h2>Annual leave</h2></td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Transferred to the following year</td> <td>  System  </td> <td> 0</td> <td>Days</td> <td>2017</td> <td>01/01/2018</td> <td>   </td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Transferred from last year</td> <td>  System  </td> <td> 0</td> <td>Days</td> <td>2018</td> <td>01/01/2018</td> <td>   </td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Accrual</td> <td>  System  </td> <td> 21</td> <td>Days</td> <td>2018</td> <td>01/01/2018</td> <td>   </td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Transferred to the following year</td> <td>  System  </td> <td> 0</td> <td>Days</td> <td>2018</td> <td>01/01/2019</td> <td>   </td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Transferred from last year</td> <td>  System  </td> <td> 21</td> <td>Days</td> <td>2019</td> <td>01/01/2019</td> <td>   </td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Accrual</td> <td>  System  </td> <td> 21</td> <td>Days</td> <td>2019</td> <td>01/01/2019</td> <td>   </td> </tr>
                                                            <tr style="width: 100%; height: 50px;;text-align:left;font-weight: normal;"> <td colspan="8" style="background-color:#ffffff"><h2>Sick leave</h2></td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Transferred to the following year</td> <td>  System  </td> <td> 0</td> <td>Days</td> <td>2017</td> <td>01/01/2018</td> <td>   </td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Transferred from last year</td> <td>  System  </td> <td> 0</td> <td>Days</td> <td>2018</td> <td>01/01/2018</td> <td>   </td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Accrual</td> <td>  System  </td> <td> ∞</td> <td>Days</td> <td>2018</td> <td>01/01/2018</td> <td>   </td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Transferred to the following year</td> <td>  System  </td> <td> 0</td> <td>Days</td> <td>2018</td> <td>01/01/2019</td> <td>   </td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Transferred from last year</td> <td>  System  </td> <td> 0</td> <td>Days</td> <td>2019</td> <td>01/01/2019</td> <td>   </td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Accrual</td> <td>  System  </td> <td> ∞</td> <td>Days</td> <td>2019</td> <td>01/01/2019</td> <td>   </td> </tr>
                                                            <tr style="width: 100%; height: 50px;;text-align:left;font-weight: normal;"> <td colspan="8" style="background-color:#ffffff"><h2>Remote work</h2></td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Transferred to the following year</td> <td>  System  </td> <td> 0</td> <td>Days</td> <td>2017</td> <td>01/01/2018</td> <td>   </td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Transferred from last year</td> <td>  System  </td> <td> 0</td> <td>Days</td> <td>2018</td> <td>01/01/2018</td> <td>   </td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Accrual</td> <td>  System  </td> <td> ∞</td> <td>Days</td> <td>2018</td> <td>01/01/2018</td> <td>   </td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Transferred to the following year</td> <td>  System  </td> <td> 0</td> <td>Days</td> <td>2018</td> <td>01/01/2019</td> <td>   </td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Transferred from last year</td> <td>  System  </td> <td> 0</td> <td>Days</td> <td>2019</td> <td>01/01/2019</td> <td>   </td> </tr>
                                                            <tr style="width: 100%; height: 50px; margin-bottom: 3em; text-align:left"> <td>Accrual</td> <td>  System  </td> <td> ∞</td> <td>Days</td> <td>2019</td> <td>01/01/2019</td> <td>   </td> </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- end: page -->
</section>
<script src="~/vendor/jquery-ui/jquery-ui.js"></script>
<script src="~/vendor/jqueryui-touch-punch/jqueryui-touch-punch.js"></script>
<script src="~/vendor/select2/js/select2.js"></script>
<script src="~/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="~/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
<script src="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script src="~/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/vendor/bootstrap-timepicker/bootstrap-timepicker.js"></script>
<script src="~/vendor/fuelux/js/spinner.js"></script>
<script src="~/vendor/dropzone/dropzone.js"></script>
<script src="~/vendor/bootstrap-markdown/js/markdown.js"></script>
<script src="~/vendor/bootstrap-markdown/js/to-markdown.js"></script>
<script src="~/vendor/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<script src="~/vendor/codemirror/lib/codemirror.js"></script>
<script src="~/vendor/codemirror/addon/selection/active-line.js"></script>
<script src="~/vendor/codemirror/addon/edit/matchbrackets.js"></script>
<script src="~/vendor/codemirror/mode/javascript/javascript.js"></script>
<script src="~/vendor/codemirror/mode/xml/xml.js"></script>
<script src="~/vendor/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="~/vendor/codemirror/mode/css/css.js"></script>
<script src="~/vendor/summernote/summernote-bs4.js"></script>
<script src="~/vendor/bootstrap-maxlength/bootstrap-maxlength.js"></script>
<script src="~/vendor/ios7-switch/ios7-switch.js"></script>

<script src="~/js/theme.js"></script>

<!-- Theme Custom -->
<script src="~/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="~/js/theme.init.js"></script>

<!-- Examples -->
<script src="~/js/examples/examples.advanced.form.js"></script>
<script src="~/js/examples/examples.modals.js"></script>
<script>
    $(".clickable-row").click(function () {
        if ($(this).hasClass("AciveRow"))
            $(this).removeClass('AciveRow');
        else
            $(this).addClass('AciveRow').siblings().removeClass('AciveRow');
    })
</script>
<style>
    /*.ActionsIcon {
        margin-left: 10px
    }*/

    .AciveRow {
        background-color: #0088cc;
        color: white;
    }

    .ruleFieldset {
        padding: 0 15px 10px !important;
        margin-bottom: 45px !important;
    }

    .Borderstyle {
        border: 1px solid #ccc !important;
        padding: 3px 5px 15px 15px !important;
    }

    fieldset legend {
        display: block !important;
        font-weight: normal !important;
        font-size: 14px !important;
        margin-bottom: 15px !important;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0px;
        font-family: 'Noto Sans', verdana, arial, sans-serif;
        width: auto !important;
    }

    .Floatleft {
        float: left !important
    }
</style>


