
@{
    ViewBag.Title = "Entitlement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.css" />
<link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.theme.css" />
<link rel="stylesheet" href="~/vendor/select2/css/select2.css" />
<link rel="stylesheet" href="~/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="~/vendor/dropzone/basic.css" />
<link rel="stylesheet" href="~/vendor/dropzone/dropzone.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css" />
<link rel="stylesheet" href="~/vendor/summernote/summernote-bs4.css" />
<link rel="stylesheet" href="~/vendor/codemirror/lib/codemirror.css" />
<link rel="stylesheet" href="~/vendor/codemirror/theme/monokai.css" />
<script src="~/vendor/modernizr/modernizr.js"></script>

<section role="main" class="content-body">
    <header class="page-header">

        <h2>Configuration</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("index","Configuration")">
                        <i class="fas fa-cogs"></i>
                    </a>
                </li>
                <li><span>Configuration</span></li>
                <li><span>Entitlement</span></li>

            </ol>

            <div class="sidebar-right-toggle"><i class=""></i></div>
        </div>
    </header>

    <!-- start: page -->

    <div class="row">
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>
                    <h2 id="Title"class="card-title">Adjust Entitlement</h2>
                </header>
                <div class="card-body">
                    <div class="form-group row">
                        <a class="nav-link" id="EditEntitlement" href="#">
                            <i class="fas fa-save fa-2x" aria-hidden="true"></i>
                            <span>Save</span>
                        </a>
                        <a class="nav-link" href="@Url.Action("Employees","Configuration")">
                            <i class="fas fa-undo-alt fa-2x" aria-hidden="true"></i>
                            <span>Cancel</span>
                        </a>
                    </div>
                    <div id="Entitlement" class="tab-pane active">
                        <div class="row">
                            <div class="col-md-9">
                                <br />
                                <div class="form-group row">
                                    <div class="col-lg-9">
                                        <label class=" control-label ">Absence type</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <select data-plugin-selectTwo class="form-control populate" id="SelectAbsencetype">
                                            <option value="default" disabled selected>Select Absence type</option>
                                        </select>
                                    </div>
                                    <br /><br />
                                    <div class="col-lg-6">
                                    </div>
                                    <div class="col-lg-3">
                                        <h4>Entitlement</h4>
                                    </div>
                                    <div class="col-lg-3" id="YearLabel" style="display: none" ;>
                                        <h4>Year</h4>
                                    </div>
                                    <div class="col-lg-3" id="MonthLabel" style="display: none" ;>
                                        <h4>Month</h4>
                                    </div>
                                    <div class="col-lg-3" id="HideDiv1" style="display: visible" ;>
                                    </div>
                                    <div class="col-lg-3" id="HideDiv2" style="display: visible" ;>
                                    </div>
                                    <div class="col-lg-3">
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="text" data-plugin-datepicker="" class="form-control" id="EntitlementNumber" disabled>
                                    </div>
                                    <div class="col-lg-3" id="YearDiv" style="display: none" ;>
                                        <select data-plugin-selectTwo class="form-control populate" id="Year">
                                            <option disabled selected></option>
                                        </select>
                                    </div>
                                    <div class="col-lg-2" id="MonthDiv" style="display: none" ;>
                                        <select data-plugin-selectTwo class="form-control populate" id="Month">
                                            <option value="default" disabled selected></option>
                                        </select>
                                    </div>

                                    <br /><br /><br />
                                    <div class="col-lg-12">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="defaultInline1" name="Sign" checked="checked" value="true">
                                            <label class="custom-control-label" for="defaultInline1">+</label>
                                        </div>

                                        <!-- Default inline 2-->
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="defaultInline2" name="Sign" value="false">
                                            <label class="custom-control-label" for="defaultInline2">-</label>
                                        </div>
                                    </div>
                                    <br />
                                    <br />

                                    <input type="text" style="width:45px;margin-left:15px" class="form-control" id="NumberOfDays" name="amount" autofocus="" autocomplete="off">
                                    <h5 style="margin-right:15px" id="adjustEntitlementUnit">Days</h5>
                                    <h5 id="adjustEntitlementUnitInText">As of Day</h5>
                                    <input id="ModificationDate" data-plugin-datepicker="" class="form-control" style="width:100px" autocomplete="off">
                                    <h5>With Comment</h5>
                                    <input id="Comment" class="form-control" style="width:250px" name="comment" autocomplete="off">



                                </div>   
                        </div>
                    </div>
                    <br/>

</section>
        </div>
    </div>
    <!-- end: page -->
</section>
<script src="~/vendor/jquery-ui/jquery-ui.js"></script>
<script src="~/vendor/jqueryui-touch-punch/jqueryui-touch-punch.js"></script>
<script src="~/vendor/select2/js/select2.js"></script>
<script src="~/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="~/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
<script src="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script src="~/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/vendor/bootstrap-timepicker/bootstrap-timepicker.js"></script>
<script src="~/vendor/fuelux/js/spinner.js"></script>
<script src="~/vendor/dropzone/dropzone.js"></script>
<script src="~/vendor/bootstrap-markdown/js/markdown.js"></script>
<script src="~/vendor/bootstrap-markdown/js/to-markdown.js"></script>
<script src="~/vendor/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<script src="~/vendor/codemirror/lib/codemirror.js"></script>
<script src="~/vendor/codemirror/addon/selection/active-line.js"></script>
<script src="~/vendor/codemirror/addon/edit/matchbrackets.js"></script>
<script src="~/vendor/codemirror/mode/javascript/javascript.js"></script>
<script src="~/vendor/codemirror/mode/xml/xml.js"></script>
<script src="~/vendor/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="~/vendor/codemirror/mode/css/css.js"></script>
<script src="~/vendor/summernote/summernote-bs4.js"></script>
<script src="~/vendor/bootstrap-maxlength/bootstrap-maxlength.js"></script>
<script src="~/vendor/ios7-switch/ios7-switch.js"></script>
<script src="~/CustomJavaScript/Entitlement/Entitlement.js"></script>
<script src="~/CustomJavaScript/HelpersJS/Helpers.js"></script>
<script src="~/js/theme.js"></script>

<!-- Theme Custom -->
<script src="~/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="~/js/theme.init.js"></script>

<!-- Examples -->
<script src="~/js/examples/examples.advanced.form.js"></script>
<script src="~/js/examples/examples.modals.js"></script>
<script>
    $("#ModificationDate").datepicker({
        dateFormat: 'dd/mm/yy',
        // minDate: 0,
        //beforeShowDay: function (date) {
        //    var show = true;
        //    if (date.getDay() == 5 || date.getDay() == 6) show = false
        //    return [show];
        //}
    });
</script>

<style>
    .ruleFieldset {
        padding: 0 15px 10px !important;
        margin-bottom: 45px !important;
    }

    .Borderstyle {
        border: 1px solid #ccc !important;
        padding: 3px 5px 15px 15px !important;
    }

    fieldset legend {
        display: block !important;
        font-weight: normal !important;
        font-size: 14px !important;
        margin-bottom: 15px !important;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0px;
        font-family: 'Noto Sans', verdana, arial, sans-serif;
        width: auto !important;
    }

    .Floatleft {
        float: left !important
    }
</style>

