<div id="Attachments" class="tab-pane">


    <div class="checkbox-custom checkbox-default">
        <input type="checkbox" id="AttachmentsRequiredcheckbox">
        <label for="checkboxExample1">Attachments Required</label>
    </div>
    <div class="checkbox-custom checkbox-default">
        <input type="checkbox" id="EnableAttachmentscheckbox">
        <label for="checkboxExample1">Enable Attachments</label>
    </div>
</div>

