<div id="Fields-visibility" class="tab-pane">
    <div class="form-group row ">
        <table class="table table-responsive-md mb-0" id="LeavesListTable">
            <thead>
                <tr>
                    <th><b>Field name</b></th>
                    <th><b>On "Apply" screen</b></th>
                </tr>
            </thead>
            <tbody id="FieldsAndvisibility">
                @*<tr class="clickable-row">
                    <td id="1">Reason</td>
                    <td>
                        <select data-plugin-selectTwo class="form-control populate">
                            <option value="DISABLED">Disabled</option>
                            <option value="REQUIRED">Required</option>
                            <option value="OPTIONAL">Optional</option>
                        </select>
                    </td>
                </tr>*@
                @*<tr class="clickable-row">
                    <td id="2">Substitute</td>
                    <td>
                        <select data-plugin-selectTwo class="form-control populate">
                            <option value="DISABLED">Disabled</option>
                            <option value="REQUIRED">Required</option>
                            <option value="OPTIONAL">Optional</option>
                        </select>
                    </td>
                </tr>
                <tr class="clickable-row">
                    <td id="3">Comment</td>
                    <td>
                        <select data-plugin-selectTwo class="form-control populate">
                            <option value="DISABLED">Disabled</option>
                            <option value="REQUIRED">Required</option>
                            <option value="OPTIONAL">Optional</option>
                        </select>
                    </td>
                </tr>*@
            </tbody>
        </table>
    </div>
</div>

