<li id="DepartmentsSidemenu">
    <a class="has-arrow  " aria-expanded="false" href="#">
        <i class="fa fa-columns"></i>
        <span class="hide-menu">Departments</span>
    </a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/Department/Index">All Departments</a></li>
        <li><a href="/Department/Create">ADD Department</a></li>
    </ul>
</li>
