<li id="SubDepartmentsSidemenu">
    <a class="has-arrow  " aria-expanded="false" href="#"><i class="fa fa-suitcase"></i><span class="hide-menu">SubDepartments</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/SubDepartment/Index">All SubDepartments</a></li>
        <li><a href="/SubDepartment/Create">ADD SubDepartment</a></li>
    </ul>
</li>
