<li id="USERSSidemenu">
    <a class="has-arrow  " aria-expanded="false" href="#"><i class="fa fa-users"></i><span class="hide-menu">Users</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/User/Index">All Users</a></li>
        @*<li><a href="/User/AddUser">ADD User</a></li>*@
        <li><a href="/User/GET_ALL_USER_LDAP">ADD from LDAP</a></li>

    </ul>
</li>
