@{
    ViewBag.Title = "Home Page";
    ViewBag.PageTittle = "Home";
    ViewBag.BreadCrumbs1 = "Home";
    ViewBag.BreadCrumbs2 = "Index";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn eeeee &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@


<section role="main" class="content-body">
    <header class="page-header">

        <h2>Home</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="#">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><span>Home</span></li>
                <li><span>Index</span></li>

            </ol>

            <div class="sidebar-right-toggle" ><i class=""></i></div>

            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>*@
        </div>
    </header>

    <!-- start: page -->

    @*<table >
        <thead><tr><th>Date</th>
                   <th>IN </th>
                   <th>OUT</th>
                   </tr></thead>
        <tbody id="AttindanceTable"><tr>
            </tr></tbody>
    </table>*@
    <table class="table table-bordered table-striped mb-0" id="datatable-default">
        <thead>
            <tr>
                <th>Date</th>
                <th>IN </th>
                <th>OUT</th>
                <th class="d-lg-none">Engine version</th>
                <th class="d-lg-none">CSS grade</th>
            </tr>
        </thead>
        <tbody id="AttindanceTable">
            @*<tr>
                <td>Trident</td>
                <td>
                    Internet
                    Explorer 4.0
                </td>
                <td>Win 95+</td>
                <td class="center d-lg-none">4</td>
                <td class="center d-lg-none">X</td>
            </tr>*@
   
            @*<tr class="gradeU" >
                <td>Other browsers</td>
                <td>All others</td>
                <td>-</td>
                <td class="center d-lg-none">-</td>
                <td class="center d-lg-none">U</td>
            </tr>*@
        </tbody>
    </table>
    @*<input type="hidden" value="@BaseController.">*@



    <!-- end: page -->
</section>
<script src="~/CustomJavaScript/HelpersJS/Helpers.js"></script>
<script src="~/CustomJavaScript/HomeJS/Home.js"></script>