
@{
    ViewBag.Title = "ConfirmClosingReAdministrationTeamRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 Mcenter">
            <h4 class="text-center marginBottom">
                Confirm ReAdministration Closing Request
            </h4>
            <form class="form">
                <div class="form-group row">
                    <div class="col-md-5">
                        <label for="DataEntryAdminstrationComment">Comment</span></label>
                    </div>
                    <div class="col-md-7">
                        <textarea name="Comment" class="placeHolderSmallSize form-control" id="ClosingConfirmComment" placeholder="Comment" rows="2"></textarea>
                    </div>
                </div>
                <!--*****************************************************************-->
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-7">
                        <button type="button" class="btn btn-primary form-control text-5 " id="btnConfirmClosingRequest">Confirm</button>
                    </div>
                </div>
            </form>
            <div class="col-md-12">
                <button type="button" class="btn btn-primary form-control text-5 " id="btnLock" style="display:none;">Lock</button>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-primary form-control text-5 " id="btnUnLock" style="display:none;">UnLock</button>
            </div>
        </div>
    </div>
</div>

<script src="~/CustomJavaScript/ReAdministration/ConfirmClosingReAdministrationRequest.js"></script>
