
@{
    ViewBag.Title = "AddClosingTeamRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-5 Mcenter">
            <h4 class="text-center marginBottom">
                Closing Request</h4>
                <form class="form">
                    <!--*****************************************************************-->
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label for="ClosingComment">Comment</label>
                        </div>
                        <div class="col-md-8">
                            <textarea name="Comment" class="placeHolderSmallSize form-control" id="ClosingComment" placeholder="Comment" rows="2"></textarea>
                        </div>
                    </div>
                    <!--*****************************************************************-->
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-8">
                            <button type="button" class="btn btn-primary form-control text-5 " id="btnSaveClosingRequest">Save</button>
                        </div>
                    </div>

                </form>
        </div>


    </div>
</div>

